// ProximaNova Font Family
@font-face {
  font-family: "ProximaNova";
  src: url(/src/fonts/Proxima/Proxima-Thin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(/src/fonts/Proxima/Proxima-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(/src/fonts/Proxima/Proxima-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(/src/fonts/Proxima/Proxima-Extrabold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(/src/fonts/Proxima/Proxima-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}


// Aeonik Font Family

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Medium.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url(/src/fonts/Aeonik/Aeonik-Thin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}