@import './mixins.scss';

.container {
  max-width: 1140px;
  // padding: 0 4rem;
  margin: 0 auto;
}

@include forDesktop() {
  .container {
    padding: 0 3rem;
  }
}

@include forLarge() {
  .container {
    padding: 0 2rem;
  }
}

@include forMedium() {
  .container {
    padding: 0 1.2rem;
  }
}

@include forSmall() {
  .container {
    padding: 0 .8rem;
  }
}

// global styles

.trial-btn {
  background-color: $btn-color;
  box-shadow: none;
  color: $white;
  font-size: 18px;
  height: 48px;
  line-height: 24px;
  padding: 1px 24px 0;
  border-radius: 6px;
  font-weight: 600;
  border: none;

  &:active {
    background: $btn-color;
  }
}

.title-1 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 8px;

  @include forLarge() {
    .title {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.title-2{
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.44;
  margin: 0 auto 26px;
}