$red: red;

// dark colors variables
$black: #000;
$dark-1: #131416;
$dark-2: #000021;
$dark-3: #001247;




// light colors variables
$white: #fff;
$light-1: #e6e6ea;
$light-2: #eeeff1;
$light-3: #faf5f0;
$light-4: #a8adb8;
$light-5:  #fbfbfb;
$light-6: #f1f4f6;
$light-7: #d1d3d9;
$light-8: #f4eae0;
$light-9: #f6f7f8;


// gray color variables
$gray-1: #767b84;
$gray-2: #383f49;
$gray-3: #4f5e6b;



// btn color variables
$btn-color: #6024e1;

// yellow color variable
$yellow: #ffd952;
$yellow-1: #ffd552;


$pink-1: #5e30e3;
$sliver: #11768d;