$red: red;

// dark colors variables
$black: #000;
$dark-1: #131416;



// light colors variables
$white: #fff;
$light-1: #e6e6ea;


// gray color variables
$gray-1: #767b84;


// btn color variables
$btn-color: #6024e1;