$red: red;

// dark colors variables
$black: #000;
$dark-1: #131416;



// light colors variables
$white: #fff;
$light-1: #e6e6ea;
$light-2: #eeeff1;
$light-3: #faf5f0;
$light-4: #a8adb8;
$light-5:  #fbfbfb;


// gray color variables
$gray-1: #767b84;


// btn color variables
$btn-color: #6024e1;

// yellow color variable
$yellow: #ffd952;
$yellow-1: #ffd552;


$pink-1: #5e30e3;